In [1]:
import numpy as np
from datascience import *

In [2]:
y = 3

In [3]:
def double(x):
    """ Double x """
    return 2*x

In [4]:
double(5)

10

In [5]:
double(2)

4

In [6]:
def double2(x):
    """ Double x """
    print(2*x)

In [7]:
double2(4)

8

In [8]:
double2(2)

4

In [9]:
value = double(4)
value2 = double2(4)

8

In [10]:
value

8

In [11]:
value2

In [14]:
cah = Table.read_table('201709-CAH_PulseOfTheNation.csv')

In [15]:
cah.show(5)

In [16]:
affiliation_counts = cah.group('Political Affiliation')

In [17]:
affiliation_counts

Political Affiliation | count
DK/REF                | 31
Democrat              | 87
Independent           | 120
Republican            | 72

In [18]:
affiliation_counts.column('count').sum()

310

In [19]:
cah.num_rows

310

In [20]:
def column_proportion(value):
    """
    Convert a count in the cah table into a proportion.
    
    Arguments:
    count: count within that category
    
    Return:
    A proportion
    """
    proportion = value / affiliation_counts.column('count').sum()
    return np.round(proportion, 2)

In [21]:
column_proportion(87)

0.28000000000000003

In [22]:
proportions = affiliation_counts.apply(column_proportion, "count")

In [23]:
affiliation_with_proportions = affiliation_counts.with_column("Proportions", proportions)
affiliation_with_proportions

Political Affiliation | count | Proportions
DK/REF                | 31    | 0.1
Democrat              | 87    | 0.28
Independent           | 120   | 0.39
Republican            | 72    | 0.23

In [24]:
cah.group('Age Range')

Age Range | count
18-24     | 9
25-34     | 15
35-44     | 41
45-54     | 104
55-64     | 100
65+       | 41

In [25]:
cah.show(5)

In [26]:
cah.pivot('Level of Education', 'Age Range')

Age Range | College degree | Graduate degree | High school | Other | Some college
18-24     | 2              | 0               | 5           | 0     | 2
25-34     | 7              | 2               | 3           | 0     | 3
35-44     | 18             | 13              | 7           | 0     | 3
45-54     | 34             | 30              | 12          | 3     | 25
55-64     | 36             | 20              | 19          | 2     | 23
65+       | 9              | 15              | 8           | 0     | 9

In [27]:
1 > 2

False

In [28]:
1 < 2

True

In [29]:
1 == 1

True

In [30]:
1 != 2

True